<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/public/style.css' />
  </head>
  <body>
    <!-- NavBar -->
    <nav>
      <!-- Left -->
      <div class='left-side'>
        <img src='/public/assets/logo.png' />

        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/blog' class='text-orange'>Blog</a></li>
        </ul>
      </div>

      <!-- Right -->
      <div class='right-side'>
        <a href='/contact-me'>Contact Me</a>
      </div>
    </nav>

    <!-- Blog -->
    <!-- Form -->
    <div class='container-btn-add-new-blog'>
      {{#if isLogin}}
        <a href='/add-blog'>Add New Blog</a>
      {{else}}
        <p>Please login</p>
      {{/if}}
    </div>
    <div class='blog'>
      <div id='contents' class='blog-list'>
        <!-- dynamic content would be here -->

        <div class='blog-list-item'>
          <div class='blog-image'>
            <img src='/public/assets/blog-img.png' alt='' />
          </div>
          <div class='blog-content'>
            {{#if isLogin}}
              <div class='btn-group'>
                <a href='#' class='btn-edit'>Edit Post</a>
                <a href='#' class='btn-post'>Delete Blog</a>
              </div>
            {{/if}}
            <h1>
              <a href='/blog-detail/126391728731' target='_blank'>Pasar Coding
                di Indonesia Dinilai Masih Menjanjikan</a>
            </h1>
            <div class='detail-blog-content'>
              12 Jul 2021 22:30 WIB | Ichsan Emrald Alamsyah
            </div>
            <p>
              Ketimpangan sumber daya manusia (SDM) di sektor digital masih
              menjadi isu yang belum terpecahkan. Berdasarkan penelitian
              ManpowerGroup, ketimpangan SDM global, termasuk Indonesia,
              meningkat dua kali lipat dalam satu dekade terakhir. Lorem ipsum,
              dolor sit amet consectetur adipisicing elit. Quam, molestiae
              numquam! Deleniti maiores expedita eaque deserunt quaerat! Dicta,
              eligendi debitis?
            </p>
            <div style='text-align: right; margin-top: 30px; color: gray'>
              1 hours ago
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src='blog.js'></script>
  </body>
</html>